* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #010313;
  font-family: sans-serif;
  color: #757575;
  line-height: 1.6;
}

.main-container {
  display: grid;
  grid-template-columns: 350px 1fr;
  max-width: 1200px;
  gap: 40px;
  margin: auto;
  padding-top: 40px;
}

.sidebar {
  background-color: #2b1b42;
  height: 90vh;
  border: 1px solid rgb(35, 73, 111);
  border-radius: 16px;
}

.main-content {
  background-color: #2b1b42;
  border: 1px solid rgb(35, 73, 111);
  border-radius: 16px;
}

.profile {
  text-align: center;
  padding: 30px 20px;
}
.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile h4 {
  text-transform: capitalize;
  background: linear-gradient(136.85deg, #f968ef -15.82%, #6c7ffa 99.57%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.profile p {
  background: linear-gradient(136.85deg, #6c7ffa -15.82%, #f968ef 99.57%);
  text-transform: capitalize;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
