* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #150f2d;
  font-family: sans-serif;
  color: #757575;
  line-height: 1.6;
}

.main-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  max-width: 1200px;
  gap: 40px;
  margin: auto;
  padding-top: 40px;
}

.sidebar {
  background-color: #2f215a93;
  height: 90vh;
  border: 1px solid rgb(35, 73, 111);
  border-radius: 16px;
}

.main-content {
  background-color: #2f215a93;
  border: 1px solid rgb(35, 73, 111);
  border-radius: 16px;
}
